*{
  margin: auto;
  padding: 0;
  border: none;
}
.main {
  width: 800px;
  margin: 0 auto;
}

.field td {
  width: 30px;
  height: 30px;
  /*background: linear-gradient(to bottom, #a2a2a2, #d6d6d6);*/
  background: yellowgreen;
  position: relative;
  border: solid 1px grey;
}
.field td.open {
  background: gainsboro;
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  color: blue;
  font-weight: bold;
}
.field td.lock::after {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: green;
  left: 8px;
  top: 8px;
  content: '';
}
.appControl {
  background: #d9dfe1;
  padding: 10px 0;
  text-align: center;
}
h2 {
  text-align: center;
  color: yellowgreen;
}
.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
input, button {
  padding: 5px 0;
  border: solid 1px grey;
  margin: 3px 0;
  left: 20px;
  position: relative;
}
button {
  width: 160px;
  height: 30px;
  background: yellowgreen;
  font-weight: bold;
  display: inline-block;
}
.diff {
  background: blueviolet;
}
